footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.3em 2em;
}

footer > .box {
  width: 80%;
  margin: 0 auto;
  padding: 1em 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

footer .box.about {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1.5em;
}

footer p {
  padding: 1.5em 0;
  font-size: 1em;
}

footer .logo {
  width: 220px;
}

@media only screen and (max-width: 500px) {
  footer .box.about {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.7em;
  }
}

@media only screen and (max-width: 1100px) {
  footer > .box {
    width: 100%;
    margin: 0 auto;
    flex-direction: column;
    gap: 3em;
  }
}

@media only screen and (min-width: 1600px) {
  footer p {
    font-size: 1.2em;
  }
  footer .box.about {
    gap: 4em;
  }
  footer .logo {
    width: 280px;
  }
}

@media only screen and (min-width: 2100px) {
  footer p {
    font-size: 1.7em;
  }
  footer .box.about {
    gap: 7em;
  }
  footer {
    gap: 1em;
  }
  footer .logo {
    width: 380px;
  }
}

@media only screen and (min-width: 2560px) {
  footer p {
    font-size: 2.3em;
  }
  footer .box.about {
    gap: 9em;
  }
  footer {
    gap: 2em;
    padding: 1em 2em;
  }
  footer .logo {
    width: 430px;
  }
}

@media only screen and (min-width: 3200px) {
  footer p {
    font-size: 3em;
  }
  footer .box.about {
    gap: 9em;
  }
  footer {
    gap: 2em;
    padding: 1em 2em;
  }
  footer .logo {
    width: 540px;
  }
}

@media only screen and (min-width: 3800px) {
  footer p {
    font-size: 3.5em;
  }
  footer .box.about {
    gap: 9em;
  }
  footer {
    gap: 2em;
    padding: 1em 2em;
  }
  footer .logo {
    width: 620px;
  }
}
