@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@100;200;300;400;500;600;700;800;900&display=swap%27");

* {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

html {
  background-color: black;
}

body {
  font-family: "Inconsolata", monospace;
  color: white;
  background-image: url("https://media.discordapp.net/attachments/1108874219497992262/1110129738028167229/web-background-v1.png?width=1048&height=1102");
  background-size: 100%;
  background-position: top;
  background-repeat: repeat-y;
  width: 100vw;
  min-height: 100vh;
}

#navigation {
  height: 100vh;
}

#navigationLogin {
  z-index: 2;
  display: flex;
  position: fixed;
  right: 5px;
  top: 5px;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.3);
  border-bottom: 15px solid rgba(88, 52, 88, 0.3);
  border-right: 3px solid rgba(91, 47, 91, 0.3);
  border-left: 15px solid rgba(90, 48, 90, 0.3);
  border-top: 3px solid rgba(80, 38, 80, 0.3);
  border-radius: 30px;
  transition: all 0.5s ease-in-out;
  border-radius: 20px;
}

#root {
  display: grid;
  grid-template-columns: 140px 1fr;
  position: relative;
}

#sections {
  z-index: 1;
  width: 100%;
}

@media only screen and (max-width: 615px) {
  #navigation {
    display: none;
  }
  #root {
    display: block;
  }
  #sections {
    margin: 0;
  }
}

@media only screen and (min-width: 800px) {
  #root {
    grid-template-columns: 200px 1fr;
  }
}

@media only screen and (min-width: 1600px) {
  #root {
    grid-template-columns: 250px 1fr;

  }
}

/* COMPONENTS */

/* links */
a {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0.8em;
  color: white;
  text-decoration: none;
  transition: all 0.2s ease-in;
}

a img {
  width: 28px;
}

a span {
  font-size: 1em;
}

a:hover {
  color: rgba(176, 19, 176, 0.8);
  font-weight: 900;
  font-size: 1.15em;
}

@media only screen and (min-width: 1600px) {
  a {

  }
  a img {
    width: 32px;
  }
  a span {
    font-size: 1.2em;
  }
}

/* text */
p {
  font-size: 1.2em;
  line-height: 24px;
  letter-spacing: 0.5px;
  font-weight: 200;
  word-spacing: -2px;
  padding: 0 .25em;
}

.title {
  font-size: 2.7em;
  font-weight: 300;
  margin-bottom: 0.55em;
}

/* MEDIUM sizes */
@media only screen and (min-width: 1300px) {
  p {
  }
  .title {
    font-size: 4em;
  }
}

@media only screen and (min-width: 1600px) {
  p {
    font-size: 1.5em;
    line-height: 30px;
  }
  .title {
    font-size: 4em;
  }
}

/* images */

@media only screen and (min-width: 1600px) {
  .logo {
    scale: 1.2;
  }
}

/* Sections */

.main_section {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 3em;
}

@media only screen and (min-width: 1600px) {
  .main_section {
    padding: 7em;
  }
}
@media only screen and (max-width: 800px) {
  .main_section {
    padding: 2em;
    }
}
