.navigation {
  width: 140px;
  height: 100vh;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: var(--primary-color);
  padding: 1.5%;
  padding-right: 0;
}

.navigation #login {
  position: relative;
  background-color: var(--button-hover-gray);
  margin: 0 auto;
  margin-top: 0.8em;
  padding: 0.3em;
  width: 90%;
  font-size: 1em;
  border-radius: .8em;
}
.navigation #login::before {
  position: absolute;
  top: -10px;
  width: 100%;
  border-top: 1px solid black;
}
.navigation #login img {
  width: 24px;
}
/* .navigation #login span {
  background-color: var(--button-hover-gray);
  margin: 0 auto;
  margin-top: .7em;
  padding: .3em;
  width: 90%;
} */

.navigation #login:hover {
  background-color: var(--blue-hover);
}

.navigation .logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navigation .logo img {
  width: 100px;
  height: 100px;
}

@media only screen and (min-width: 800px) {
  .navigation ul {
    /* padding: 1em; */
  }
  .navigation {
    width: 230px;
  }
  .navigation li span {
    display: block;
  }
  .navigation li a {
    justify-content: center;
  }
}

@media only screen and (min-width: 1600px) {
  .navigation ul {
    padding: 2em;
  }
  .navigation {
    width: 280px;
  }
  .navigation .logo img {
    width: 130px;
    height: 130px;
  }
}

@media only screen and (min-width: 2100px) {
  .navigation ul {
    gap: 1em;
  }
  .navigation {
    width: 380px;
  }
  .navigation .logo img {
    width: 155px;
    height: 155px;
  }
}
@media only screen and (min-width: 2560px) {
  .navigation ul {
    gap: 1.5em;
  }
  .navigation {
    width: 480px;
  }
  .navigation .logo img {
    width: 205px;
    height: 205px;
  }
}

@media only screen and (min-width: 3200px) {
  .navigation ul {
    padding: 2.2em;
  }
  .navigation {
    width: 530px;
  }
  .navigation .logo img {
    width: 230px;
    height: 230px;
  }
}

@media only screen and (min-width: 3800px) {
  .navigation ul {
    padding: 3em;
    gap: 2em;
  }
  .navigation {
    width: 670px;
  }
  .navigation .logo img {
    width: 300px;
    height: 300px;
  }
}
