.navigation {
  width: 140px;
  height: 100vh;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: white;
  padding: 1%;
}

.navigation ul {
  list-style-type: none;
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: 30px;
  transition: all .5s ease-in-out;
  margin: 15px 0 0 15px;
  padding: .7em;
  background-color: rgba(0, 0, 0, 0.3);
  border: 4px solid rgba(176, 19, 176, 0.3);
}

.navigation ul:hover {
  border-color: rgba(176, 19, 176, 0.4);
  background-color: rgba(25, 25, 25, 0.1);
}

.navigation_logo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2em;
}

.navigation_logo > a > img {
  width: 100px;
  height: 100px;
  transition: all 0.2s ease-in-out;
}

.navigation_logo > a > img:hover {
  width: 105px;
}

.navigation li {
  margin: .5em;
}

.navigation li a {
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  gap: 1em;
}

.navigation li span {
  display: none;
  text-transform: capitalize;
  font-weight: 500;
}

.navigation li a > img {
  width: 42px;
  height: 42px;
}

.navigation li a img:hover {
  width: 45px;
  height: 45px;
}

.content {
  flex-grow: 1;
}

@media only screen and (min-width: 800px) {
  .navigation ul {
    padding: 1em;
  }
  .navigation {
    width: 200px;
  }
  .navigation li span {
    display: block;
  }
  .navigation li a {
    justify-content: center;
  }
}

@media only screen and (min-width: 1600px) {
  .navigation ul {
    padding: 2em;
    border-bottom: 15px solid rgba(176, 19, 176, 0.3);
    border-right: 15px solid rgba(176, 19, 176, 0.3);
    border-left: 3px solid rgba(176, 19, 176, 0.3);
    border-top: 3px solid rgba(176, 19, 176, 0.3);
  }
  .navigation {
    width: 250px;
  }
  .navigation li span {
    display: block;
  }
  .navigation li a {
    justify-content: center;
  }
}
