/* GENERAL SECTION */

.main_section {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
}

/* ABOUT */

.main_section#about {
  padding: 3.5em 0;
  display: flex;
  flex-direction: row;
}

.main_section > .model_box {
  flex: 3;
  max-width: 70%;
  height: 500px;
  margin: 2em;
  margin-right: 3em;
  background-color: rgba(255, 255, 255, 0.139);
}

.main_section > ._info {
  flex: 2;
  display: flex;
  align-items: center;
}

.main_section > ._info > ._info_holder {
  margin: 2em;
}

.main_section > ._info > ._info_holder P {
  font-size: 1.2em;
  line-height: 1.2em;
  letter-spacing: 1.5px;
  font-weight: 300;
  text-align: center;
}

.main_section > ._info > ._info_holder h1 {
  letter-spacing: 1.5px;
  margin-bottom: 0.5em;
  margin-left: 0.5em;
  font-size: 2.3em;
  font-weight: 700;
}

@media only screen and (max-width: 1200px) {
  .main_section#about {
    margin-top: 7%;
    flex-direction: column;
  }
  .main_section#about ._info {
    flex: none;
  }
  .main_section > ._info > ._info_holder {
    margin: 3em 2em;
  }
}

/* CARDS */

.main_section#cards {
  position: relative;
}

.main_section#cards > .section_container {
  max-width: 1200px;
  margin: 1.5em auto;
  padding: 0.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main_section#cards > .section_container > .manager {
  margin-bottom: 1em;
}
.main_section#cards > .section_container > .team {
  justify-content: center;
}

.card {
  position: relative;
  margin: 1em;
  width: 320px;
  height: 320px;
  background-image: url("../assets/ram4.png"); /* Frame path */
  background-size: cover;
  background-repeat: no-repeat;
}

.team {
  min-height: 70vh;
  width: 100%;
  margin: 5% 0;
  row-gap: 2em;
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-columns: 1fr 1fr 1fr;
}

.manager.team {
  grid-template-columns: 1fr;
}

.manager > .card {
  max-width: 340px;
  max-height: 350px;
}

.card-frame {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.card-content {
  position: absolute;
  width: 80%;
  bottom: 10px;
  left: 35px;
  padding: 1em;
}

.text {
  padding: 0.4em;
}

.card > .name {
  position: absolute;
  top: 22px;
  left: 35px;
  font-size: 1.4em;
  font-weight: 600;
}

@media only screen and (max-width: 400px) {
  .card {
    width: 220px;
    height: 220px;
  }
  .card > .name {
    font-size: 1.1em;
    top: 13px;
    left: 25px;
  }
  .manager > .card {
    width: 240px;
    height: 240px;
    margin-bottom: 2em;
  }
  .manager > .card > .name {
    top: 15px;
    left: 25px;
    font-size: 1.3em;
  }
}

@media only screen and (max-width: 1300px) {
  .team {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (max-width: 950px) {
  .team {
    grid-template-columns: 1fr;
  }
}
