@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@300;400;500;600&display=swap%27");

* {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
  font-family: "Inconsolata", monospace;
}

body {
  background-image: url("https://cdn.shopify.com/s/files/1/0068/5074/0281/t/514/assets/inner-page-brand-bg-desktop.png?v=162539029213179130751684240850");
  background-size: 100%;
  background-position: top;
  background-repeat: repeat-y;
  color: white;
}

#container {
  display: flex;
  flex-flow: row wrap;
  height: 100%;
}

#navigation {
  width: 150px;
}

@media only screen and (max-width: 615px) {
  #navigation {
    display: none;
  }
}

#sections {
  flex: 7;
}

/* Footer */

footer {
  z-index: 50;
  bottom: 0;
  height: 50px;
  width: 100%;
  text-align: center;
  font-size: 1.2em;
}

footer > .footer_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em 2em;
}

footer > .footer_container > .box {
  width: 80%;
  margin: 0 auto;
  padding: 1em 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

footer .box.about {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1.5em;
}

footer .box.about > .link {
  padding: 0.4em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0.5em;
}

footer .box.about > .link > img {
  width: 32px;
  height: 32px;
}

footer p {
  padding: 1.5em 0;
}

footer a {
  text-decoration: none;
  color: white;
}

@media only screen and (max-width: 900px) {
  footer > .footer_container > .box {
    width: 100%;
    margin: 0 auto;
    flex-direction: column;
    gap: 3em;
  }
}

@media only screen and (max-width: 500px) {
  footer .box.about {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .7em;
  }
}

/* Header */

header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  z-index: 50;
}

header > img {
  max-width: 400px;
  height: 100px;
  margin: 1em;
}