* {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

#container {
  display: flex;
  flex-flow: row wrap;
  height: 100%;
}

#navigation {
  width: 100px;
}

@media only screen and (max-width: 425px) {
  #navigation {
    display: none;
  }
}

#sections {
  flex: 7;
}

footer {
  z-index: 50;
  background-color: red;
  bottom: 0;
  height: 50px;
  width: 100%;
  text-align: center;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  z-index: 50;
}

header > img {
  max-width: 400px;
  height: 100px;
  margin: 1em;
}

.card-fine {
  position: relative;
  width: 300px;
  height: 400px;
  background-image: url('card-frame-02.png'); /* Nastavte cestu k obrázku rámečku */
  background-size: cover;
  background-repeat: no-repeat;
}

.card-frame {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.card-content {
  position: absolute;
  width: 80%;
  bottom: 10px;
  left: 35px;
  padding: 1em;
  /* Další styly pro obsah karty (text, obrázek atd.) */
}

.text {
  padding: .4em;
}
