/* .main_section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.section_container {
  width: 100%;
  min-height: 100vh;
  max-width: 1000px;
  padding: 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2em;
}

.team_container {
  display: grid;
  grid-gap: .5em;
}

@media (min-width: 600px) {
  .team_container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 950px) {
  .team_container {
    grid-template-columns: repeat(3, 1fr);
  }
}


.row {
  display: grid;
  
}

.card {
  width: 100%;
  max-width: 300px;
  height: 300px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.337);
}


@media (min-width: 600px) {

}

@media (min-width: 950px) {

}
 */