
  
  .navigation {
    padding: 2px;
    width: 100px;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    box-shadow: 10px 0px 10px rgba(91, 3, 83, 0.6);
    
  }
  .textNavigation  {
    font-weight:bolder;
    color: white;
  }

    
  
  .navigation ul {
    list-style-type: none;
    padding: 0;
  }
  
  .navigation li {
    padding: 10px;
  }
  
  .navigation a {
    text-decoration: none;

  }
  
  .content {
    flex-grow: 1;
    /* Additional styles for the main content area */
  }

 