
.main_section {
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.main_section > .box {
    flex: 1;
    border: solid 1px black;
    position: relative;
}

.main_section .model_box {
    position: absolute;
    top: 7%;
    left: 12%;
}

.main_section .about_info {
    max-width: 45%;
    position: absolute;
    right: 5%;
    bottom: 10%;
    background-color: black;
    color: white;
    padding: 1em;
}

.main_section .about_info p {
    font-size: 1.4em;
    line-height: 1.25em;
}

#about {
    background-color: rgba(0, 0, 0, 0.2);
}

#info {
    background-color: rgba(0, 0, 0, 0.4);
    position: relative;
}

#school {
    background-color: rgba(0, 0, 0, 0.6);
}