<section class="main_section" id="about">
  <div class="model_box">
    <img src="https://picsum.photos/400/400" alt="" />
  </div>
  <div class="about_info">
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores molestias
      delectus explicabo aliquid neque. Explicabo suscipit corporis consequuntur
      quod alias, nostrum nam aut ratione, odit praesentium, repellendus nobis
      reiciendis aspernatur. Mollitia reprehenderit repellat quo ipsum
      asperiores, dignissimos quae obcaecati reiciendis aliquam, molestias est
      nam accusamus? Qui aliquid, fugiat itaque maiores sequi tempore nostrum
      facilis. Culpa, inventore? Corrupti repellat ad odit? Excepturi modi unde
      alias quibusdam officiis amet sed ipsam asperiores quae accusamus
      explicabo sint, at quaerat recusandae ut voluptas ea et, ipsa adipisci
      eius. Quod nobis rem earum doloribus eius? Facere similique architecto
      quas voluptatibus?
  </div>
</section>
