<section class="main_section" id="about">
  <div class="model_box"></div>
  <div class="_info">
    <div class="_info_holder">
      <h1>Heading</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Explicabo sint
        quidem dignissimos placeat voluptates totam quisquam voluptate deserunt,
        labore saepe? Lorem ipsum dolor, sit amet consectetur adipisicing elit.
        Est consectetur, quibusdam rem placeat cum nulla iure. Eligendi illum
        aliquid quis quas totam officia in minus delectus dicta iusto, cumque
        accusantium! Lorem ipsum, dolor sit amet consectetur adipisicing elit.
        Adipisci voluptatibus repudiandae provident facere accusamus temporibus
        vero, sint nam necessitatibus ipsum.
      </p>
    </div>
  </div>
</section>
