<section class="main_section" id="about">
  <div class="model_box">
    <canvas id="model-view">
      <script type="module" src="public/src/logo-anim/main.js"></script>
    </canvas>
  </div>
  <div class="_info blur-box">
    <h1>Meet Us</h1>
    <p>
      As students embarking on a thrilling educational journey, we find
      ourselves on a study abroad program collaborating with Dolphin Gaming on
      showing you the power of gaming. Gaming, despite the opinions of many of
      the older generations, has the power to connect people, produce great
      life-lasting experiences and make many processes much more enjoyable. We,
      a team of 7 IT enthusiasts want to show you this presentation as an
      example of what you can learn at our school, and what opportunities it may
      provide you in your future.
    </p>
  </div>
</section>