<section class="main_section" id="cards">
  <div class="section_container">

    <div class="team manager">
      <!-- MANAGER -->
      <!-- Horse -->
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <h2>▶M8 | Horse</h2>
            <img class="avatar" src="../public/avatars/Horse.png" alt="Horse">
            <img class="role" src="../public/roles/Black/Manager.svg" alt="manager">
          </div>
          <div class="flip-card-back">
            <div class="card-title">
              <h2>Manager</h2>
              <img src="../public/roles/Whites/Manager.svg" alt="manager">
            </div>
            <p class="text">I revel in the realm of logical thinking and systems, constantly seeking to decipher the intricacies that lie beneath the surface. Beyond the realm of the mind, my heart races with excitement as I engage in the powerful world of powersports, particularly in the exhilarating domain of strongman, where I push my physical limits and embrace the raw strength and determination.</p>
          </div>
        </div>
      </div>
    </div>

    <div class="team">
      <!-- GRAPHIC -->
      <!-- BaKY -->
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <h2>▶M8 | BaKY</h2>
              <img class="avatar" src="../public/avatars/Curak.png" alt="Horse">
              <img class="role" src="../public/roles/Black/Designer.svg" alt="manager">
          </div>
          <div class="flip-card-back">
            <div class="card-title">
              <h2>Graphic</h2>
              <img src="../public/roles/Whites/Designer.svg" alt="graphic">
            </div>
            <p class="text">I possess a curious and persistent nature, always seeking to explore new possibilities in the fields of programming and designing. I never back down from challenges and remain committed until I reach my desired objectives. I deeply appreciate the effort invested in attaining outcomes and take pleasure in celebrating my accomplishments.</p>
          </div>
        </div>
      </div>

      <!-- Vojta -->
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <h2>▶M8 | Vojta</h2>
              <img class="avatar" src="../public/avatars/Vojta.png" alt="Horse">
              <img class="role" src="../public/roles/Black/Designer.svg" alt="manager">
          </div>
          <div class="flip-card-back">
            <div class="card-title">
              <h2>Graphic</h2>
              <img src="../public/roles/Whites/Designer.svg" alt="graphic">
            </div>
            <p>I'm a individual with a love for 3D modeling and an fan for all things around military. Creating models and bringing them to life in three dimensions is not just a hobby for me, but a true form of art expression. Combining my technical skills with my knowledge of military, I strive to recreate iconic vehicles and battle scenes.</p>
          </div>
        </div>
      </div>

      <!-- WRITER -->
      <!-- Weeedos -->
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <h2>▶M8 | Weeedos</h2>
            <img class="avatar" src="../public/avatars/Vitek.png" alt="Horse">
              <img class="role" src="../public/roles/Black/Writer.svg" alt="manager">
          </div>
          <div class="flip-card-back">
            <div class="card-title">
              <h2>Writer</h2>
              <img src="../public/roles/Whites/Writer.svg" alt="writer">
            </div>
            <p>I love strategic video games, where each move can change everything. Planning, outmaneuvering, and adapting are thrilling. History also fascinates me, revealing insights into humanity and shaping our world. I find immense joy in exploring the vast realms of history, delving into the captivating narratives of past civilizations, and uncovering the secrets and lessons hidden within their stories.</p>
          </div>
        </div>
      </div>

      <!-- Xironic -->
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <h2>▶M8 | Xironic</h2>
            <img class="avatar" src="../public/avatars/Xironic.png" alt="Xironic">
            <img class="role" src="../public/roles/Black/Writer.svg" alt="manager">
          </div>
          <div class="flip-card-back">
            <div class="card-title">
              <h2>Writer</h2>
              <img src="../public/roles/Whites/Writer.svg" alt="writer">
            </div>
            <p>I am a programming enthusiast who finds sheer delight in unraveling the mysteries of coding. I am ceaselessly committed to staying abreast of the latest advancements in the realm of technology. Beyond the realm of programming, my heart finds solace in the resonating chords of an electric guitar, where I unleash my creative spirit and immerse myself in the enchanting melodies that emanate from its strings.</p>
          </div>
        </div>
      </div>

      <!-- DEVELOPER -->
      <!-- Knedlik -->
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <h2>▶M8 | Knedlik</h2>
            <img class="avatar" src="../public/avatars/Knedlik.png" alt="Knedlik">
            <img class="role" src="../public/roles/Black/Developer.svg" alt="manager">

          </div>
          <div class="flip-card-back">
            <div class="card-title">
              <h2>Developer</h2>
              <img src="../public/roles/Whites/Developer.svg" alt="developer">
            </div>
            <p>I'm an enthusiastic individual passionate about web development and esports gaming. Building sleek websites is my forte, and I constantly enhance my coding skills to stay up-to-date. In my free time, I compete in esports tournaments, applying my dedication and strategic mindset to achieve victory. Looking to the future, I aspire to delve into artificial intelligence alongside web development.</p>
          </div>
        </div>
      </div>

      <!-- Dezy -->
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <h2>▶M8 | Dezy</h2>
            <img class="avatar" src="../public/avatars/Dezy.png" alt="Dezy">
            <img class="role" src="../public/roles/Black/Developer.svg" alt="manager">
          </div>
          <div class="flip-card-back">
            <div class="card-title">
              <h2>Developer</h2>
              <img src="../public/roles/Whites/Developer.svg" alt="developer">
            </div>
            <p>Building sleek and user-friendly websites has always been my forte, and I constantly seek ways to enhance my coding skills and stay up-to-date with the latest trends in the industry. When I'm not immersed in lines of code, you can find me competing in esports tournaments, where I channel my dedication and strategic mindset to achieve victory  in the  world of competitive gaming.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

</canvas>
