<section class="main_section" id="cards">
  <div class="section_container">
    <div class="team manager">
      <!-- MANAGER -->
      <div class="card">
        <div class="card-frame"></div>
        <span class="name">S. Kuta</span>
        <div class="card-content">
          <div class="img"></div>
        </div>
      </div>
    </div>
    <!-- TEAM -->
    <div class="team">
      <div class="card">
        <div class="card-frame"></div>
        <span class="name">BaKY</span>
        <div class="card-content">
          <div class="img"></div>
        </div>
      </div>
      <div class="card">
        <div class="card-frame"></div>
        <span class="name">LordKnedlik</span>
        <div class="card-content">
          <div class="img"></div>
        </div>
      </div>
      <div class="card">
        <div class="card-frame"></div>
        <span class="name">Dezzy</span>
        <div class="card-content">
          <div class="img"></div>
        </div>
      </div>
      <div class="card">
        <div class="card-frame"></div>
        <span class="name">Name Holder</span>
        <div class="card-content">
          <div class="img"></div>
        </div>
      </div>
      <div class="card">
        <div class="card-frame"></div>
        <span class="name">Name Holder</span>
        <div class="card-content">
          <div class="img"></div>
        </div>
      </div>
      <div class="card">
        <div class="card-frame"></div>
        <span class="name">Name Holder</span>
        <div class="card-content">
          <div class="img"></div>
        </div>
      </div>
    </div>
  </div>
</section>

</canvas>
