
<footer>
        <div class="box">
            <div class="box logo">
                <a href="/#about">
                    <img src="../public/icons/logo.svg" alt="logo">
                </a>
            </div>
            <div class="box about">
                <a href="" target="blank">
                    <img src="../public/icons/instagram.svg" alt="instagram">
                    <span>Instagram</span>
                </a>
                <a href="https://www.spsejecna.cz/" target="blank">
                    <img src="../public/icons/school.svg" alt="school">
                    <span>School</span>
                </a>
                <a href="https://github.com/jecnaTeam" target="blank">
                    <img src="../public/icons/github.svg" alt="github">
                    <span>GitHub</span>
                </a>
            </div>
        </div>
        <p>ⓒ All rights reserved</p>
</footer>

</body>
</html>
