
<footer>
    <div class="footer_container">
        <div class="box">
            <div class="box logo">
                <img src="//placehold.it/32x32" alt="logo">
            </div>
            <div class="box about">
                <div class="link">
                    <img src="../public/icons/school.svg" alt="school">
                    <a href="">School</a>
                </div>
                <div class="link">
                    <img src="../public/icons/instagram.svg" alt="instagram">

                    <a href="">Instagram</a>
                </div>
                <div class="link">
                    <img src="../public/icons/github.svg" alt="github">

                    <a href="">Github</a>
                </div>
            </div>
        </div>
        <p>ⓒ All rights reserved</p>
    </div>
</footer>

</body>
</html>
