
<footer>
        <div class="box">
                <a href="/#about">
                    <img class="logo" src="../public/imgs/assets/logos/logo-footer.svg" alt="logo">
                </a>
            <div class="box about">
                <a href="https://www.spsejecna.cz/" target="blank">
                    <img src="../public/imgs/icons/school.svg" alt="school">
                    <span>School</span>
                </a>
                <a href="https://github.com/jecnaTeam" target="blank">
                    <img src="../public/imgs/icons/github.svg" alt="github">
                    <span>GitHub</span>
                </a>
            </div>
        </div>
        <p>ⓒ All rights reserved</p>
</footer>

</body>
</html>
