<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="../public/imgs/assets/logos/favicon.svg" type="image/x-icon">
    <link rel="stylesheet" href="../public/styles/background.css">
    <link rel="stylesheet" href="../public/styles/aboutSection.css">
    <link rel="stylesheet" href="../public/styles/cardSection.css">
    <link rel="stylesheet" href="../public/styles/schoolSection.css">
    <link rel="stylesheet" href="../public/styles/navigation.css" />
    <link rel="stylesheet" href="../public/styles/general.css" />
    <link rel="stylesheet" href="../public/styles/footer.css" />
    <link rel="stylesheet" href="../public/styles/navigationLogin.css">
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
    <script type="module" src="../public/scripts/anim/logoModel/GLTFLoader.js"></script>
    <script defer src="../public/scripts/anim/background.js"></script>

    <title>PlayM8</title>
  </head>
  <body>
    <div>
      <div id="wave-1"></div>
      <div id="wave-2"></div>
      <div id="wave-3"></div>
      <div id="wave-4"></div>
    </div>
    <div id="xbox-buttons"></div>

    <!-- <div id="right"></div> -->
