<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="shortcut icon"
      href="https://media.discordapp.net/attachments/759394212029792267/1108854363818049536/M8Favicon.png?width=1102&height=1102"
      type="image/x-icon"
    />
    <link rel="stylesheet" href="../public/styles/section.css" />
    <link rel="stylesheet" href="../public/styles/navigation.css" />
    <link rel="stylesheet" href="../public/styles/general.css" />
    <link rel="stylesheet" href="../public/styles/footer.css" />
    <link rel="stylesheet" href="../public/styles/navigationLogin.css">
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>

    <title>PlayM8</title>
  </head>
  <body>
    <script type="module" src="../public/src/logo-anim/three.js"></script>
    <script type="module" src="../public/src/logo-anim/GLTFLoader.js"></script>
