<section class="main_section" id="school">
  <div class="section_container">
    <div class="row">
      <div class="card">fe</div>
    </div>
    <div class="row">
      <div class="card">fe</div>
      <div class="card">ffe</div>
      <div class="card">ffe</div>
    </div>
    <div class="row">
      <div class="card">fe</div>
      <div class="card">fe</div>
      <div class="card">fe</div>
    </div>
  </div>
</section>
