<section class="main_section" id="info">
  <div class="section_container">
<!--     <div class="card-fine">
      <div class="card-frame">

      </div>
      <div class="card-content">
        <div class="img">
          <img src="//placehold.it/200x160" alt="">
        </div>
        <div class="text">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Error omnis
          expedita optio minus fugit animi suscipit porro? Atque ipsa ipsum quae
          est necessitatibus repellendus a ea.
        </div>
      </div>
    </div> -->

    <div class="manager">
      <div class="card"></div>
    </div>
    <div class="team">
      <div class="card"></div>
      <div class="card"></div>
      <div class="card"></div>
      <div class="card"></div>
      <div class="card"></div>
      <div class="card"></div>
    </div>
  </div>
</section>
