<section class="main_section" id="cards">
  <div class="section_container">
    <div class="manager">
      <!-- MANAGER -->
      <div class="card">
        <div class="card-frame"></div>
        <span class="name">Pavel Vanis</span>
        <div class="card-content">
          <div class="img"></div>
        </div>
      </div>
    </div>
    <!-- TEAM -->
    <div class="team">
      <div class="card">
        <div class="card-frame"></div>
        <span class="name">Pavel Vanis</span>
        <div class="card-content">
          <div class="img"></div>
        </div>
      </div>
      <div class="card">
        <div class="card-frame"></div>
        <span class="name">Pavel Vanis</span>
        <div class="card-content">
          <div class="img"></div>
        </div>
      </div>
      <div class="card">
        <div class="card-frame"></div>
        <span class="name">Pavel Vanis</span>
        <div class="card-content">
          <div class="img"></div>
        </div>
      </div>
      <div class="card">
        <div class="card-frame"></div>
        <span class="name">Pavel Vanis</span>
        <div class="card-content">
          <div class="img"></div>
        </div>
      </div>
      <div class="card">
        <div class="card-frame"></div>
        <span class="name">Pavel Vanis</span>
        <div class="card-content">
          <div class="img"></div>
        </div>
      </div>
      <div class="card">
        <div class="card-frame"></div>
        <span class="name">Pavel Vanis</span>
        <div class="card-content">
          <div class="img"></div>
        </div>
      </div>
    </div>
  </div>
</section>
