<section class="main_section" id="info">
  <div class="section_container">
    <div class="manager">
      <div class="card"></div>
    </div>
    <div class="team">
      <div class="card"></div>
      <div class="card"></div>
      <div class="card"></div>
      <div class="card"></div>
      <div class="card"></div>
      <div class="card"></div>
    </div>
  </div>
</section>
