<nav class="navigation">
  <ul>
    <li><a class="textNavigation" href="#about">Home</a></li>
    <li><a class="textNavigation" href="#cards">About us</a></li>
    <li><a class="textNavigation" href="#school">School<img style="margin-left: 8px; width: 40px; height: 25px; display: inline-block;" src="../public/imgs/School_Logo.png" alt="SchoolLogo"></a></li>
  </ul>
</nav>

  
