
<% if (!logged) { %>
    <div id="LoggedOut">
         <form action="/login">
            <table>
                <tr>
                    <th>
                        <input type="text" name="username">
                    </th>
                </tr>
                <tr>
                    <th>
                        <input type="password" name="password" id="passwordInput">
                    </th>
                </tr>
                <tr>
                    <th>
                        <input type="submit" value="Log in">
                    </th>
                </tr>
            </table>
            
           
           
        </form>
    </div>

    <%} else { %>
<div id="LoggedIn">
<span><% username %></span>

<form action="/LogOut">

    <input type="button" value="Log out">

</form>

</div>
    <% } %>
