<nav class="navigation">
  <ul>
    <li><a class="textNavigation" href="#about">Home</a></li>
    <li><a class="textNavigation" href="#info">About us</a></li>
    <li><a class="textNavigation" href="#school">Our school</a></li>
  </ul>
</nav>

  
