<nav class="navigation">
  <ul>
    <a class="textNavigation" href="#about">
      <li>
        <img
          style="width: 40px; height: 25px; display: inline-block"
          src="../public/imgs/Home_1.svg"
          alt="HomeLogo"
        />
        Home
      </li>
    </a>
    <a class="textNavigation" href="#cards">
      <li>
        <img
          style="width: 40px; height: 25px; display: inline-block"
          src="../public/imgs/About_Us.svg"
          alt="AboutUsLogo"
        />
        About us
      </li>
    </a>
    <a class="textNavigation" href="#school">
      <li>
        <img
          style="width: 40px; height: 25px; display: inline-block"
          src="../public/imgs/School_Logo.png"
          alt="SchoolLogo"
        />
        School
      </li>
    </a>
  </ul>
<!--   <div class="navigation_logo">
    <img src="../public/imgs/Logo_v1.png" alt="logo" />
  </div> -->
</nav>
