<script src="../public/scripts/scripts.js"></script>
<% if (!logged) { %>
    <div id="LoggedOut">
         <form action="/login" method="post" onsubmit="showDiv()">
            <table>
                <tr>
                    <th>
                        <input type="text" name="username" placeholder="Username" required>
                    </th>
                </tr>
                <tr>
                    <th>
                        <input type="password" name="password" id="passwordInput" placeholder="Password" required>
                    </th>
                </tr>
                <tr>
                    <th>
                        <input type="submit" value="Log in">
                    </th>
                </tr>
            </table>
            
           
           
        </form>
    </div>

    <%} else { %>
<div id="LoggedIn">
<span><%- username -%></span>

<form action="/LogOut" method="POST">

    <input type="submit" value="Log out">

</form>

</div>
    <% } %>
