<nav class="navigation">
  <ul>
    <li>
      <a href="#about">
        <img src="../public/icons/home.svg" alt="" />
        <span>About us</span>
      </a>
    </li>
    <li>
      <a href="#cards">
        <img src="../public/icons/about-us.svg" alt="" />
        <span>Our team</span>
      </a>
    </li>
    <li>
      <a href="#about">
        <img src="../public/icons/school.svg" alt="" />
        <span>Study at</span>
      </a>
    </li>
  </ul>
  <div class="navigation_logo">
    <a href="#about">
      <img src="../public/assets/nav-bar-logo.svg" alt="" />
    </a>
  </div>
</nav>
