<nav class="navigation">
  <ul class="nav">
    <li>
      <a class="nav-button" href="#about">
        <img src="../public/imgs/icons/home.svg" alt="about" />
        <span>About us</span>
      </a>
    </li>
    <li>
      <a class="nav-button" href="#cards">
        <img src="../public/imgs/icons/about-us.svg" alt="team" />
        <span>Our team</span>
      </a>
    </li>
    <li>
      <a class="nav-button" href="#school">
        <img src="../public/imgs/icons/school.svg" alt="school" />
        <span>Study at</span>
      </a>
    </li>
    <!-- <li>
      <a class="nav-button" id="login" href="#login2">
        <img src="../public/icons/login.svg" alt="school" />
        <span>Login</span>
      </a>
    </li> -->
  </ul>
  <div class="logo">
    <a href="#about">
      <img src="../public/imgs/assets/logos/nav-bar-logo.svg" alt="logo" />
    </a>
  </div>
</nav>
